mat-toolbar {
  display: flex;
  /*background-color: cadetblue;*/
  background-img: './../../assets/coffee-cups-1280x800-cookies-coffee-beans-4k-6391.jpg';
}

.navbar {
  justify-content: space-between;
}


.example-fill-remaining-space{
  flex: 1 1 auto;
}


