
<mat-card id="outer-matCard">
  <div>
    <h2>ABOUT US</h2>
    <p>
      This is one of the country's most celebrated restaurants; the creation of leading Bangladeshi restaurant group.
      Fink and Executive Chef Peter Gilmore.

      The restaurant is an organic space reflection of Peter Gilmore's nature inspired cuisine. The interplay of textures and colour brings life and a vibrance that embraces the restaurant's place in the dress circle of Sydney Harbour. An ode to the landscape, from the vast ocean floor to the cracked bark of a paperbark tree, every detail from the ground up has been thoughtfully considered.
    </p>
  </div>
  <br><br>
  <div>
    <h2>MEET THE TEAM</h2>
    <p>
      This restaurant is supported by a longstanding team of passionate executives and staffs.
    </p>
    <div>
      <mat-card class="profiles">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Dutch Van Der Linde</mat-card-title>
          <mat-card-subtitle> <b>Creative Director</b> </mat-card-subtitle>
          <img mat-card-md-image src="https://picsum.photos/200/400" alt="Picture">
        </mat-card-header>
        <p>Dutch runs the family restaurant business with his father.</p>
      </mat-card>

      <mat-card class="profiles">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>John Marston</mat-card-title>
          <mat-card-subtitle> <b>Executive Chef</b> </mat-card-subtitle>
          <img mat-card-md-image src="https://picsum.photos/200/400" alt="Picture">
        </mat-card-header>
        <p>John has released three cookbooks. Book 1 , Book 2 and Book 3</p>
      </mat-card>

      <mat-card class="profiles">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Edgar Ross</mat-card-title>
          <mat-card-subtitle> <b>General Manager</b> </mat-card-subtitle>
          <img mat-card-md-image src="https://picsum.photos/200/400" alt="Picture">
        </mat-card-header>
        <p>Edgar is keen to maximize the experience of each and every guest dining at the restaurant</p>
      </mat-card>

      <mat-card class="profiles">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Leigh Johnson</mat-card-title>
          <mat-card-subtitle> <b>Restaurant Manager</b> </mat-card-subtitle>
          <img mat-card-md-image src="https://picsum.photos/200/400" alt="Picture">
        </mat-card-header>
        <p>Johnson has worked closely alongside John Marston and overseeing the front of house team</p>
      </mat-card>

      <mat-card class="profiles">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Gordon Freeman</mat-card-title>
          <mat-card-subtitle> <b>Bar Manager</b> </mat-card-subtitle>
          <img mat-card-md-image src="https://picsum.photos/200/400" alt="Picture">
        </mat-card-header>
        <p>Freeman has a passion for Japanese whisky and the cocktail classics, simple and elegant</p>
      </mat-card>
    </div>
  </div>



</mat-card>
