<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Item</title>
</head>
<body>
  <h1>Add New Item</h1>
  <form action="#">
    <table>
      <tr>
        <th>Name</th>
        <td><input type="text" name="" id=""> </td>
      </tr>
      <tr>
        <th>Type</th>
        <td><input type="text" name="" id=""> </td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="text" name="" id=""> </td>
      </tr>
      <tr>
        <th>Image Link</th>
        <td><input type="text" name="" id=""> </td>
      </tr>



    </table>
    <input type="submit" id="" value="ADD">
  </form>

</body>
</html>
