<div id="addItem">
  <h1> Add New Item</h1>
  <mat-card>
    <form (submit)="onAddItem(itemForm)" #itemForm="ngForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput id="itemName" name="name" ngModel required minlength="3" #name="ngModel">
        <mat-error *ngIf="name.invalid">Please Enter a Name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <input type="text" matInput id="itemType" name="type" ngModel required minlength="3" #type="ngModel">
        <mat-error *ngIf="type.invalid">Please Enter Type of Item</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input type="text" matInput id="itemQuantity" name="quantity" ngModel required minlength="3"
          #quantity="ngModel">
        <mat-error *ngIf="quantity.invalid">Please Enter Quantity of Item</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" matInput id="itemPrice" name="price" ngModel required minlength="1" #price="ngModel">
        <mat-error *ngIf="price.invalid">Enter a valid cost</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Img Link</mat-label>
        <input type="text" matInput name="link" id="itemLink" ngModel required minlength="1" #link="ngModel">
        <mat-error *ngIf="link.invalid">Enter Link of image</mat-error>
      </mat-form-field>
      <button type="submit" mat-button color="accent">ADD</button>
    </form>
  </mat-card>
</div>


<!--</body>-->
<!--</html>-->